/**************************
----TOP TABS MEDIA---------
****************************/
.callflows-port .media_tabs {
	background-color: #555555;
	border: 1px solid #363636;
	min-height: 90px;
	padding: 10px;
	position:relative;
	overflow-x: auto;
	white-space: nowrap;
}

.callflows-port .media_tabs .buttons {
	width: 128px;
	height: 90px;

	line-height: 90px;
	display: inline-block;
	position: relative;
	margin: 0 10px 0 0;

	text-align: center;

	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 4px;

	cursor: pointer;
	opacity: 0.4;

	background: #05addc;
	background: -moz-linear-gradient(top,  #05addc 0%, #0099b7 25%, #008ca8 50%, #0099b7 75%, #05addc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#05addc), color-stop(25%,#0099b7), color-stop(50%,#008ca8), color-stop(75%,#0099b7), color-stop(100%,#05addc));
	background: -webkit-linear-gradient(top,  #05addc 0%,#0099b7 25%,#008ca8 50%,#0099b7 75%,#05addc 100%);
	background: -o-linear-gradient(top,  #05addc 0%,#0099b7 25%,#008ca8 50%,#0099b7 75%,#05addc 100%);
	background: -ms-linear-gradient(top,  #05addc 0%,#0099b7 25%,#008ca8 50%,#0099b7 75%,#05addc 100%);
	background: linear-gradient(to bottom,  #05addc 0%,#0099b7 25%,#008ca8 50%,#0099b7 75%,#05addc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05addc', endColorstr='#05addc',GradientType=0 );

}

.callflows-port .media_tabs .buttons:hover {
	-moz-box-shadow: 3px 5px 10px #383838;
	-webkit-box-shadow: 3px 5px 10px #383838;
	box-shadow: 3px 5px 10px #383838;
	opacity: 0.6;
}

.callflows-port .media_tabs .buttons.current, 
.callflows-port .media_tabs .buttons.current:hover {
	-moz-box-shadow: 3px 5px 10px #383838;
	-webkit-box-shadow: 3px 5px 10px #383838;
	box-shadow: 3px 5px 10px #383838;
	opacity: 1;
}

.callflows-port .media_tabs .buttons .label_device {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
}

.callflows-port #device-view .realm_label {
	line-height: 22px;
}

.callflows-port .media_pane {
	margin-left: 0;
	margin-top: 30px;
}

.callflows-port #device-form .provisioner select {
	width: 100px;
	margin-left: 10px;
}

.callflows-port #device-form .provisioner {
	display: inline-block;
	margin-left: 22px;
}

.callflows-port .input .text {
	display: inline-block;
	width: 210px;
	height: 20px;
	margin-bottom: 10px;
	padding: 4px 6px;
}
