<div class="dialog_popup callflows-port">
	<form id="form_json_editor" method="post" action="#">
		<label for="name" class="control-label">
			{{i18n.callflows.jsonEditor.name}}
		</label>
		<input id="name" name="name" type="text" placeholder="{{i18n.callflows.jsonEditor.placeholder.name}}" value="{{name}}" class="form-control">
		<div class="form_content">
			<div class="popup_field">
				<div id="jsoneditor" style="width: 400px; height: 400px;"></div>
			</div>
		</div>
	</form>
	<div class="buttons-center">
		<button id="save" class="monster-button monster-button-primary">{{ i18n.save }}</button>
	</div>
</div>
