<div class="dialog_popup callflows-port">
	<h1>{{ i18n.oldCallflows.set_ringtone }}</h1>
	<form name="form" method="post" action="#">
		<div class="form_content">
			<div class="popup_field">
				<label for="set_ringtone_select">{{ i18n.oldCallflows.set_ringtone_select }}: </label>
				<input type="text" name="alert_info" id="alert_info" value="{{data_cid.alert_info}}"/>
			</div>
		</div>
	</form>
	<div class="buttons-center">
		<button id="add" class="monster-button monster-button-primary">{{ i18n.save }}</button>
	</div>
</div>
