<div class="dialog_popup callflows-port">
	{{#monsterText}}
		{{ i18n.callflows.webhook.help }}
	{{/monsterText}}
	<form name="form" method="post" action="#">
		<div class="form_content">
			<div class="popup_field">
				<label for="uri">
					<i class="help-popover fa fa-question" data-toggle="tooltip" data-placement="right" data-original-title="{{ i18n.callflows.webhook.uri.help }}"></i>
					{{ i18n.callflows.webhook.uri.label }}
				</label>
				<input type="text" id="uri" value="{{uri}}"/>
			</div>
			<div class="popup_field">
				<label for="http_verb">
					<i class="help-popover fa fa-question" data-toggle="tooltip" data-placement="right" data-original-title="{{ i18n.callflows.webhook.httpVerb.help }}"></i>
					{{ i18n.callflows.webhook.httpVerb.label }}
				</label>
				<select id="http_verb">
					{{#select http_verb}}
						{{#each httpVerbsList}}
							<option value="{{ @key }}">{{ this }}</option>
						{{/each}}
					{{/select}}
				</select>
			</div>
			<div class="popup_field">
				<label for="retries">
					<i class="help-popover fa fa-question" data-toggle="tooltip" data-placement="right" data-original-title="{{ i18n.callflows.webhook.retries.help }}"></i>
					{{ i18n.callflows.webhook.retries.label }}
				</label>
				<select id="retries">
					{{#select retries}}
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					{{/select}}
				</select>
			</div>
			<div class="popup_field">
				<label for="custom_data">
					<i class="help-popover fa fa-question" data-toggle="tooltip" data-placement="right" data-original-title="{{ i18n.callflows.webhook.customData.help }}"></i>
					{{ i18n.callflows.webhook.customData.label }}
				</label>
			</div>
		</div>
	</form>
	<div class="buttons-center">
		<button id="add" class="monster-button monster-button-primary">{{i18n.save}}</button>
	</div>
</div>
