/* style.css */
#ws_callflow > .callflow {
	float: left;
	width: 85%;
}
#ws_callflow .callflow .root {
	width: 322px;
}

#ws_callflow .callflow .root > .top_bar {
	background-image: url(static/images/blue_bar.png);
	height: 25px;
	text-align: left;
}

#ws_callflow .callflow .root > .top_bar > span {
	line-height: 25px;
}

#ws_callflow .callflow .root > .top_bar .name {
	float: left;
	margin-left: 10px;
	font-weight: bold;
	cursor: default;
}

#ws_callflow .callflow .root > .top_bar .add_number {
	float: right;
}

#ws_callflow .callflow .root > .content .number_row {
	background-image: url(static/images/nav_line_horizontal.jpg);
	background-position: bottom;
	background-repeat: repeat-x;
	height: 32px;
	background-color: #424242;
}

#ws_callflow .callflow .root > .content .number_row:last-child {
	background: none;
	background-color: #424242;
	height: 30px;
	border-radius: 0px 0px 5px 5px;
}

#ws_callflow .callflow .root > .content .number_column {
	float: left;
	height: 30px;
	line-height: 30px;
	font-size: 11px;
	text-indent: 15px;
	text-align: left;
	position: relative;
}

#ws_callflow .callflow .root > .content .number_column.full {
	width: 312px;
	text-align: center;
}

#ws_callflow .callflow .root > .content .number_column.second {
	width: 163px;
	background-image: url(static/images/nav_line.jpg);
	background-position: left;
	background-repeat: repeat-y;
}

#ws_callflow .callflow .root > .content .number_column.first {
	width: 159px;
}

#ws_callflow .callflow .root > .content .number_column.empty {
	color: #A0A0A0;
	cursor: default;
}

#ws_callflow .callflow .root > .content .number_column .delete {
	background-image: url(static/images/btn_delete.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 6px;
	height: 6px;
	display: inline-block;
	position: absolute;
	padding: 5px;
	right: 0px;
	top: 0px;
	cursor: pointer;
}

#ws_callflow .callflow .root > .content .number_column .delete:hover {
	background-image: url(static/images/btn_delete_blue.png);
}

#ws_callflow .callflow .node {
	display: inline-block;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	cursor: grab;
}

#ws_callflow .callflow .node[name="root"] {
	cursor: default;
}

#ws_callflow .callflow .node .node-options .delete {
	background-image: url(static/images/btn_delete.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 6px;
	height: 6px;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 5px;
	cursor: pointer;
}

#ws_callflow .callflow .node .node-options .delete:hover {
	background-image: url(static/images/btn_delete_blue.png);
}

#ws_callflow .tool .icon {
	margin: 2px;
	display: inline-block;
}

#ws_callflow .tools .category {
	text-align: center;
	background: url(static/images/background_category.png) no-repeat;
	background-position: top center;
	cursor: default;
}

#ws_callflow .tools .category .content {
	background-color: #777777;
	border: 1px solid #333333;
}

#ws_callflow .tools .open {
	font-size: 12px;
	height: 26px;
	line-height: 26px;
	background-repeat: no-repeat;
	background-position: 5px center;
}

#ws_callflow .tools .active .open {
	background-image: url(static/images/arrow_active.png);
	color: #05ADDC;
}

#ws_callflow .tools .inactive .open{
	background-image: url(static/images/arrow_inactive.png);
}

#ws_callflow .tools .tool {
	background: #777777;
	float: left;
	width: 82px;
	padding-left: 1px;
	padding-top: 1px;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	cursor: grab;
}

#ws_callflow .destination {
	border-radius: 5px;
	border: 3px solid #05addc;
}

#ws_callflow .tools .tool .action {
	z-index: 9000;
	height:56px;
	background: url(static/images/blackbox_small.png) no-repeat;
}

#ws_callflow .tools .app_list_nav {
	background: #777777;
	padding-top: 1px;
}

#ws_callflow .callflow .icons_black.node {
	width: 143px;
	height: 84px;
	background: url(static/images/blackbox.png) no-repeat;
}

#ws_callflow #ws_cf_flow .children .child:last-child:not(:first-child) {
	padding-right: 10px;
}

#ws_callflow #ws_cf_flow .children .child:first-child:not(:last-child) {
	padding-left: 10px;
}

#ws_callflow .children > .child > .div_line {
	display: inline-block;
	height: 6px;
	width: 100%;
	background-image: url(static/images/line_callflow.png);
	background-repeat: repeat-x;
	margin-top: -33px;
	margin-right: 0px;
	margin-left: 0px;
	padding: 0px;
	float: left;
}
#ws_callflow .children > .child:first-child > .div_line {
	width: 50%;
	float: right;
}
#ws_callflow .children > .child:last-child > .div_line {
	width: 50%;
	float: left;
}

#ws_callflow .children > .child:first-child:last-child > .div_line {
	display: none;
}

#ws_callflow .children > .child > .span_arrow {
	display: inline-block;
	width: 145px;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 2px 0px 2px;
	padding: 0px;
	position: relative;
}

#ws_callflow .children > .child > .span_arrow.small {
	height: 31px;
	background-image: url(static/images/center_arrow.png);
}

#ws_callflow .children > .child:first-child > .span_arrow.small {
	background-image: url(static/images/left_arrow.png);
}

#ws_callflow .children > .child:last-child > .span_arrow.small {
	background-image: url(static/images/right_arrow.png);
}

#ws_callflow .children > .child:first-child:last-child > .span_arrow.small {
	background-image: url(static/images/small_arrow.png);
}

#ws_callflow .children > .child > .span_arrow.large {
	height: 48px;
	background-image: url(static/images/tall_arrow.png);
}

#ws_callflow .a_link_option {
	font-size: 11px;
}
#ws_callflow .div_option {
	display: inline-block;
	height: 15px;
	width: 131px;
	background-color: #474747;
	margin: 0;
	padding: 0;
	border: 1px solid #303030;
	border-radius: 5px;
}

#ws_callflow .div_icon {
	height: 50px;
}

#ws_callflow .div_icon > span {
	display: inline-block;
	max-width: 100px;
	vertical-align: middle;
}

#ws_callflow .module {
	font-size: 13px;
	height: 59px;
	margin-top: 25px;
	cursor: default;
}

#ws_callflow .div_icon .module_name {
	text-transform: uppercase;
	text-align: center;
}

#ws_callflow .details {
	font-size: 10px;
	margin-top: -10px;
	overflow: hidden;
}

/* Add number and Edit name popups */
.dialog_popup_new {
	padding: 15px;
}

.dialog_popup_new .popup_field {
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
}

.dialog_popup_new .popup_field > * {
	margin-right: 10px;
}

.dialog_popup_new .buttons {
	text-align: center;
}

.dialog_popup_new form {
	margin: 0;
}

.dialog_popup_new.edit_name {
	width: 350px;
}

.dialog_popup_new.edit_name .fancy_help_text {
	font-size: 12px;
	margin-bottom: 10px;
}

.dialog_popup_new.edit_name input[type="checkbox"] {
	margin: 0;
}

.dialog_popup_new.add_number_popup {
	width: 475px;
}

.add_number_popup .popup_field label {
	width: 110px;
}

.add_number_popup input[type=radio] {
	margin: -5px 5px 0 10px;
}

.add_number_popup #list_numbers {
	width: 157px;
}

.add_number_popup #add_number_text {
	width: 172px;
}

.add_number_popup .extensions_content, 
.add_number_popup .list_numbers_content {
	display: inline-block;
}

.add_number_popup .list_numbers_content .nav {
	margin-top: 7px;
}

.fax_callflow_popup .checkbox_field,
.fax_callflow_popup .checkbox_field label {
	padding: 0px;
}

.fax_callflow_popup .checkbox_field #t_38_checkbox {
	float: left;
}

#callflow-content .ui-draggable-dragging {
	cursor: -moz-grabbing !important;
	cursor: -webkit-grabbing !important;
	cursor: grabbing !important;
}

#ws_callflow .root .top_bar .edit_icon {
	background: url('static/images/edit_icon.png') no-repeat scroll center center transparent;
	cursor: pointer;
	display: inline-block;
	height: 18px;
	margin: 3px 0px 0px 7px;
	width: 20px;
}

/* callflow.css */
#callflow_container .callflow-help, .popup_help .callflow-help {
	background: url(static/images/callflow_help.gif) no-repeat center;
	height: 644px;
	width: 847px;
	margin: 20px auto auto;
	border-radius: 10px;
}

#callflow_container .callflow-content.edition-mode .callflow-help {
	display: none;
}

#callflow_container .callflow-content.listing-mode #ws_callflow {
	display: none;
}

#ws_callflow {
	width: 100%;
}

#ws_callflow #callflow_header {
	height: 30px;
	margin-top: 15px;
	width: 100%;
}

#ws_callflow #callflow_header #pending_change {
	text-align: center;
	display: none;
}

#ws_callflow #callflow_header #pending_change span {
	color: #05ADDC;
	font-weight: lighter;
	font-style: italic;
}

#ws_callflow #ws_cf_flow {
	width: 100%;
	overflow-x: auto;
	padding-top: 10px;
	text-align: center;
}

#ws_callflow span.flow {
	width: 80%;
}

#ws_callflow .child {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	white-space: normal;
}

#ws_callflow .branch {
	display: block;
	text-align: center;
}

#ws_callflow .node.active {
	background-color: #fff;
	border-radius:10px;
	border: 3px solid #05addc;
}

#ws_callflow .node.inactive {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

#ws_callflow .children {
	display: block;
	white-space: pre;
}

#ws_callflow .flowchart {
	margin-right: 180px;
	overflow: auto;
}

#ws_callflow .tools {
	float: right;

	/* Have to disable this for now because dragging element doesn't work properly otherwise... TODO THO
	overflow-y: auto;
	overflow-x: hidden;*/
}

#ws_callflow .tools #ws_cf_tools {
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom:30px;
	width: 168px;
}

#ws_callflow .tool {
	text-align: center;
	vertical-align: middle;
}

#ws_callflow .tool_name {
	font-size: 11px;
	line-height: 11px;
}

#ws_callflow .tools .category.inactive .content {
	display: none;
}

#ws_callflow .tool .action.inactive {
	display: none;
}

#ws_callflow .tool .action.active {
	z-index: 10000;
}

#ws_callflow .title {
	background: url("static/images/blue_bar.png");
	font-size: 12px;
	height: 25px;
	line-height: 25px;
	border-radius: 5px 5px 0px 0px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}

#callflow_container .wrapper_callflow_buttons {
	display: block;
	width: 322px;
	margin: auto;
	margin-bottom: 5px;
}

#callflow_container .wrapper_callflow_buttons .btn {
	width: 114px;
	text-align: center;
	display: inline-block;
	margin-left: 0px;
	margin-right: 5px;
}

#callflow_container .callflow_helpbox_wrapper {
	position: absolute;
	right: 175px;
	width: 160px;
	top: 100px;
	display: none;
}

#callflow_container .callflow_helpbox_wrapper .tip_box {
	background-color: #3D3D3D;
	border: 1px solid #333333;
	border-radius: 5px;
	opacity: 80%;
	padding: 5px 2px 5px 9px;
	text-align: left;
	font-size: 10px;
	line-height: 12px;
}

#callflow_container .tooltip {
	float: right;
	margin-top: 6px;
	cursor: pointer;
}

#callflow_container .pulse-box {
	-webkit-animation: "pulse-box" 1s ease-in-out 0 infinite alternate;

	animation-name: pulse-box;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-delay: 0;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@-webkit-keyframes pulse-box {
	0% { box-shadow: 0px 0px 0px #73F03C inset, 0px 0px 0px #14FF00; }
	100% { box-shadow: 0px 0px 30px #73F03C inset, 0px 0px 10px #14FF00; }
}

@keyframes pulse-box {
	0% { box-shadow: 0px 0px 0px #73F03C inset, 0px 0px 0px #14FF00; }
	100% { box-shadow: 0px 0px 30px #73F03C inset, 0px 0px 10px #14FF00; }
}

/* JR's customization */
#callflow_container {
	color: #ebebeb;
}

#callflow_container .callflow-view {
	height: 100%;
	overflow: auto;
}


/* JR's work for left bar, from accountBrowser */
#callflow_container .callflow-content {
	margin-left: 240px;
}

#callflow_container .left-bar-container {
	float: left;
	background-color: #F3F3F3;
	border-right: solid 1px #999;
	width: 240px;
	overflow: hidden;
	border-radius: inherit;
}

#callflow_container .left-bar-container .search-box {
	width: 220px;
	padding: 20px 10px;
	border-bottom: solid 1px #999;
}

#callflow_container .left-bar-container .search-box .search-query {
	width: 178px;
}

#callflow_container .left-bar-container.ab-dropdown .list-container {
	max-height: 300px;
}

#callflow_container .left-bar-container .list {
	margin: 0;
	list-style: none;
	float: left;
	overflow-y: auto;
	overflow-x: hidden;
	width: 240px;
	height: 100%;
	max-height: inherit;
}

#callflow_container .left-bar-container .list-add {
	line-height: 50px;
	max-height: 50px;
	font-weight: 600;
	background-color: #ddd;
	width: 240px;

	background-image: -webkit-linear-gradient(top, hsl(0, 0%, 90%) 0%, hsl(0, 0%, 80%) 100%);
	background-image:    -moz-linear-gradient(top, hsl(0, 0%, 90%) 0%, hsl(0, 0%, 80%) 100%);
	background-image:     -ms-linear-gradient(top, hsl(0, 0%, 90%) 0%, hsl(0, 0%, 80%) 100%);
	background-image:      -o-linear-gradient(top, hsl(0, 0%, 90%) 0%, hsl(0, 0%, 80%) 100%);
	background-image:         linear-gradient(top, hsl(0, 0%, 90%) 0%, hsl(0, 0%, 80%) 100%);
	color: #555;
}

#callflow_container .left-bar-container .list-add i {
	margin: 10px;
}

#callflow_container .left-bar-container .list-add:hover {
	background: #ccc;
	/*color: #22ccff;*/
	cursor: pointer;
}

#callflow_container .left-bar-container .list-add:hover i {
	/*color: #22ccff;*/
}

#callflow_container .left-bar-container .list-loader {
	padding: 10px;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
}

#callflow_container .left-bar-container .list-element {
	line-height: 60px;
	max-height: 60px;
	overflow: hidden;
	border-top: solid 1px #ccc;
}

#callflow_container .left-bar-container .list > li:first-child {
	border-top: none;
}
#callflow_container .left-bar-container .list > li:last-child {
	border-bottom: solid 1px #ccc;
}

#callflow_container .left-bar-container .list-element > div {
	background-color: #f6f6f6;
	background-image: -webkit-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:    -moz-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:     -ms-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:      -o-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:         linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	color: #555;
	padding-left: 10px;
}

#callflow_container .left-bar-container .list-element > div:hover {
	background: #eee;
	cursor: pointer;
	/*color: #22ccff;*/
}

#callflow_container .list-container .link .title {
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#callflow_container .list-container .link .description {
	font-size: 10px;
	height: 20px;
	line-height: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Popups.css */
.dialog_popup {
	padding: 10px 20px;
	text-align: center;
}

.dialog_popup h1 {
	padding: 0 0 10px 0;
	text-shadow: 0px 0px;
	font-size: 24px;
	font-weight: bold;
	color: #29ABE1;
}

.dialog_popup .btn_wrapper_popup {
	float: left;
	width: 100%;
	padding: 30px 0px 10px 0px;
}

.dialog_popup .form_content {
	display: inline-block;
}

.dialog_popup .form_content label {
	font-weight: bold;
	width: auto;
	margin-right: 10px;
	color: #333;
	float: left;
	padding-top: 5px;
}

.dialog_popup .form_content select {
	width: 100%;
	max-width: 200px;
}

.dialog_popup .form_content .select_wrapper {
	float: left;
}

.dialog_popup .form_content .select_wrapper .action_links_div a {
	float: right;
	width: 100%;
	text-align: right;
	text-decoration: underline;
	color: #05addc;
	margin-top: 3px;
}

.dialog_popup .form_content .popup_field {
	padding-bottom: 15px;
}

.dialog_popup .parameter_div {
	padding: 10px 0px 10px 0px;
	width: auto;
	max-width: 300px;
	margin: auto;
	display: block;
}

.dialog_popup .parameter_div .parameter_description {
	font-size: 10px;
	border-radius: 10px;
}

.dialog_popup input.size2 {
	width: 20px;
}

.inline_popup {
	background: #575757;
	background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#555555));
	background: -moz-linear-gradient(top,  #333333,  #555555);
	padding: 0 10px 10px 10px;
}

.inline_popup.small .main_content {
	width: 450px;
}

.inline_popup.small .main_content .pill-content .clearfix {
	display: block;
}

.dialog_popup .fancy_help_text {
	font-size: 12px;
}
