<div id="missed_call_alert_popup" class="dialog_popup missed-call-alert callflows-port">
	<div id="two_columns">
		<div class="wrapper">

			<div class="panes">
				<div class="pane_content" id="users_pane">
					<div class="column left">
						<div class="search_box title_column">
							<div class="searchsubmit1"/>
							<input class="search searchfield" type="text" placeholder="{{ i18n.oldCallflows.user_name }}"/>
							<div class="searchsubmit2"/>
							<div class="clear"/>
						</div>
						<div class="scrollable user">
							<ul class="connect left">
							</ul>
						</div>
						<div class="clear"/>
					</div>
				</div>
			</div>
			<div class="column right">
				<div class="title_column"><div class="actions_item">{{ i18n.oldCallflows.delete }}</div></div>
				<div class="scrollable">
					<ul class="connect right">
					</ul>
				</div>
			</div>
		</div>
		<div class="clear"/>
	</div>

	<div class="buttons-center">
		<button class="monster-button monster-button-primary" id="save_missed_call_alerts">{{ i18n.save }}</button>
	</div>
</div>
