<div class="dialog_popup">
	<form name="form" method="post" action="#">
		<div class="form_content">
			<div class="popup_field">
				<label for="menu_key_selector">{{ i18n.callflows.menu.menu_option }}</label>
				<div class="select_wrapper">
					<select id="menu_key_selector">
						{{#each items}}
							{{#compare ../selected "===" @key}}
								<option value="{{ @key }}" SELECTED>{{ this }}</option>
							{{else}}
								{{#compare @key "!==" "#"}}
								<option value="{{ @key }}">{{ this }}</option>
								{{/compare}}
							{{/compare}}
						{{/each}}
					</select>
				</div>
			</div>
		</div>
	</form>
	<div class="buttons-center">
		<button id="add" class="monster-button monster-button-primary">{{ i18n.save }}</button>
	</div>
</div>