<div class="dialog_popup callflows-port">
	<h1>{{ i18n.oldCallflows.disa }}</h1>
	<form name="form" method="post" action="#">
		<div class="form_content">
			<div class="popup_field">
				<label for="disa_pin_input">{{ i18n.oldCallflows.pin }}: </label>
				<input type="text" id="disa_pin_input" class="medium" value="{{ data_disa.pin }}"/>
			</div>
			<div class="popup_field">
				{{ i18n.oldCallflows.allow_a_maximum_of }} <input class="size2" type="text" id="disa_retries_input" value="{{ data_disa.retries }}"/> {{ i18n.oldCallflows.retries }}.
			</div>
		</div>
	</form>
	<div class="buttons-center">
		<button id="add" class="btn btn-primary">{{ i18n.save }}</button>
	</div>
</div>
