<div class="dialog_popup callflows-port">
	<h1>{{ i18n.oldCallflows.language }}</h1>
	<form name="form" method="post" action="#">
		<div class="form_content">
			<div class="popup_field">
				<label for="language_id_input">{{ i18n.oldCallflows.language }} </label>
				<input type="text" id="language_id_input" class="medium" value="{{data_language.language}}"/>
			</div>
		</div>
	</form>
	<div class="buttons-center">
		<button id="add" class="monster-button monster-button-primary">{{ i18n.save }}</button>
	</div>
</div>