<div class="dialog_popup callflows-port">
	<h1>{{ i18n.callflows.qubicle.qubicle_tip }}</h1>
	<form name="form" method="post" action="#">
		<div class="form_content">
			<div class="popup_field">
				<label for="queue_selector">{{ i18n.callflows.qubicle.which_queue}}</label>
				<div class="select_wrapper">
					<select id="queue_selector">
					{{#select selected}}
						{{#each items}}
							<option value="{{id}}">{{name}}</option>
						{{/each}}
					{{/select}}
					</select>
				</div>
			</div>
		</div>
	</form>
	<div class="buttons-center">
		<button id="add" class="monster-button monster-button-primary">{{ i18n.save }}</button>
	</div>
</div>
