<div class="dialog_popup callflows-port">
	<h1>{{ i18n.callflows.resource.use_carriers_from_specific_account }}</h1>
	<form>
		<div class="form_content">
			<div class="popup_field">
				<label for="hunt_account_id">{{ i18n.callflows.resource.account_id }}: </label>
				<input type="text" id="hunt_account_id" value="{{ data_resource.hunt_account_id }}"/>
			</div>
		</div>
	</form>
	<div class="buttons-center">
		<button id="add" class="monster-button monster-button-primary">{{ i18n.save }}</button>
	</div>
</div>