<div class="dialog_popup callflows-port">
	<form name="form" method="post" action="#">
		<div class="form_content">
			<div class="popup_field">
				<label for="timezone_selector">{{ i18n.callflows.timeofday.timezone }}</label>
				<div class="select_wrapper">
					<select id="timezone_selector">
						{{#select selected}}
							{{#each items}}
								<option value="{{ id }}"{{ name }}</option>
							{{/each}}
						{{/select}}
					</select>
				</div>
			</div>
		</div>
	</form>
	<div class="buttons-center">
		<button id="add" class="monster-button monster-button-primary">{{ i18n.save }}</button>
	</div>
</div>
